boto3==1.9.137
botocore==1.12.137
docutils==0.14
imutils==0.5.2
jmespath==0.9.4
numpy==1.16.3
picamera==1.13
PyAudio==0.2.11
pygame==1.9.6
python-dateutil==2.8.0
redis==3.2.1
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.2
